<div>
    <div>
    <img src={{imgUrl}} alt="room!" width="210" height="190">
    </div>

    <strong>{{name}} - ${{price}}</strong>
    <p>{{description}}</p>
    <p><a href="/catalog/{{id}}">Details View</a></p>
</div>